* {
  box-sizing: border-box;
}

@keyframes animation {
  0% {
    margin-left: 0px;
  }

  50% {
    margin-left: 10px;
  }

  100% {
    margin-left: 0px;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

.logo {
  display: flex;
  height: auto;
  padding: 15px;
  justify-content: center;
}

.logo img {
  /* height: 100%;
  width: 100%; */
  flex-basis: auto;
}
header {
  position: sticky;
  max-width: 99%;
  top: 1em;
  padding: 1em 0;
  z-index: 10;
}
.uleminemenuu a {
  font-family: BrownStd;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  /* identical to box height */
  letter-spacing: 0.19em;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  padding: 30px;
  flex-basis: auto;
}

a:hover {
  color: grey;
  animation: animation 1s infinite;
}

.uleminemenuu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

.pilt1 {
  width: 80%;
  height: 100vh;
  margin: 10%;
  background-size: cover;
  z-index: -1;
  padding-bottom: 100PX;
}

#RETAILERS p {
  font-size: 30px;
  margin: 0;
  display: inline;
  white-space: pre;
}

section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  align-items: center;
}

.col-3 {
  flex-basis: auto;
  width: 33.33%;
  font-family: BrownStd;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  /* line-height: 36px; */
  letter-spacing: 0.19em;
  text-align: inherit;
}

#RETAILERS {
  padding: 65px;
}

#CONTACT a {
  font-family: BrownStd;
  color: black;
  font-size: 70px;
  text-decoration: none;
  color: black;
  padding: 250px;

}

.email {
  flex-basis: auto;
width: 100%;
align-items: center;
white-space: pre;
}

#ACCESSORIES img {
  width: 100%;
}

.copy {
  display: block;
  width: 100%;
  text-align: center;
  padding: 200px;
  top: auto;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
